<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>movies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="assets/css/movie-navbar.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="font-family: poppins;">
    <ul class="nav nav-fill" style="border-width: 1px;border-color: #eee;border-bottom-style: solid;">
        <li class="nav-item"><a class="nav-link active" style="color: #007bff;"></a></li>
        <li class="nav-item"><a class="nav-link text-left text-sm-center text-md-center text-lg-center text-xl-center" style="height: 47px;color: #42424c;font-size: 20px;font-family: poppins;">Select A Movie</a></li>
        <li class="nav-item"></li>
    </ul>
    <div style="/*margin-top: 20px;*/margin-bottom: 20px;">
        <div class="container">
            <div class="row row-cols-sm-2 row-cols-md-4 text-center" style="margin-bottom: 20px;">
                <div class="col-md-3"><img class="img-fluid" src="https://cdn.chili.com/images/public/cms/d7/53/9c/b1/d7539cb1-cb62-4d89-8a94-94df8b20afe8.jpg?width=800">
                    <h4>Incredibles 2</h4>
                </div>
                <div class="col-md-3"><img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/en/e/ee/Alita_Battle_Angel_%282019_poster%29.png">
                    <h4>Alita Battle Angel</h4>
                </div>
                <div class="col-md-3"><img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMjIwMjE1Nzc4NV5BMl5BanBnXkFtZTgwNDg4OTA1NzM@._V1_.jpg">
                    <h4>The Lion King</h4>
                </div>
                <div class="col-md-3"><img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMTYzMDM4NzkxOV5BMl5BanBnXkFtZTgwNzM1Mzg2NzM@._V1_.jpg">
                    <h4>Toy Story 4</h4>
                </div>
            </div>
            <div class="row row-cols-sm-2 row-cols-md-4 text-center" style="margin-top: 20px;">
                <div class="col-md-3"><img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMjIwMDIwNjAyOF5BMl5BanBnXkFtZTgwNDE1MDc2NTM@._V1_.jpg">
                    <h4>How To Train your Dragon</h4>
                </div>
                <div class="col-md-3"><img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMjMyNDkzMzI1OF5BMl5BanBnXkFtZTgwODcxODg5MjI@._V1_.jpg">
                    <h4>Thor Ragnarok</h4>
                </div>
                <div class="col-md-3"><img class="img-fluid" src="https://terrigen-cdn-dev.marvel.com/content/qa/1x/5ae4ca-MLou_13x19_DolbyAtAMC_Handout_v4_online_lg.jpg">
                    <h4>Avengers Infinity War</h4>
                </div>
                <div class="col-md-3"><img class="img-fluid" src="https://i.pinimg.com/originals/c8/66/93/c86693302b6981209afe2def102d0668.jpg">
                    <h4>Spiderman: Homecoming</h4>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>